# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
back/app/Services/vmservice/.venv
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.next

data.sqlite
prisma/data.sqlite
/prisma/data.sqlite-shm
/prisma/data.sqlite-wal
/package-lock.json
/composer.phar
scripts
demo-images
demo-linux.qcow2
libvirt
src/.venv
images
